[OSEv3:children]
masters
nodes
infra
lb
nfs
etcd
new_nodes
new_masters

[OSEv3:vars]
debug_level=2
docker_udev_workaround=True
openshift_node_debug_level=2
openshift_master_debug_level=2
openshift_master_access_token_max_seconds=2419200

# Cluster names  / wildcard subdomain#
#openshift_master_cluster_hostname=openshift-lb.foo.bar
openshift_master_cluster_hostname=openshift.jasonhorn.io
openshift_master_cluster_public_hostname=openshift.jasonhorn.io 
openshift_master_default_subdomain=apps.jasonhorn.io

# Ports
openshift_master_api_port=8443 
openshift_master_console_port=8443

openshift_override_hostname_check=true
osm_use_cockpit=false

# release 
openshift_release=3.7
openshift_deployment_type=openshift-enterprise

# reboot masters
openshift_rolling_restart_mode=system

# disabled right now-masters don't have docker volgroup
#openshift_node_local_quota_per_fsgroup=512Mi
openshift_install_examples=true

# Identiy
openshift_master_identity_providers=[{u'login': u'true', u'challenge': u'true', u'name': u'htpasswd_auth', u'kind': u'HTPasswdPasswordIdentityProvider', u'filename': u'/etc/origin/master/htpasswd'}, {u'clientSecret': u'wvOjyiWGvRthgVMHM5J6H0HX', u'kind': u'GoogleIdentityProvider', u'name': u'google', u'hostedDomain': u'', u'challenge': u'false', u'clientID': u'955662937629-l7ghns4t9iidqbkdua1lu6gtlecc00i8.apps.googleusercontent.com', u'login': u'true'}]

openshift_master_htpasswd_users={u'admin': u'$apr1$zAhyA9Ko$rBxBOwAwwtRuuaw8OtCwH0'}

# Select default nodes for projects
osm_default_node_selector=role=app

# Service Broker 
openshift_enable_service_catalog=false
ansible_service_broker_install=false
template_service_broker_install=false
template_service_broker_selector=role=infra

# Users
ansible_become=yes
#ansible_ssh_user="root"
#remote_user="root"

# Networking
os_sdn_network_plugin_name=redhat/openshift-ovs-multitenant

openshift_disable_check=memory_availability,disk_availability
openshift_master_cluster_method=native

# Router
openshift_hosted_router_replicas=2
openshift_router_selector='role=infra'


# Install registry
openshift_hosted_registry_storage_kind=nfs
openshift_hosted_registry_storage_access_modes=['ReadWriteMany']
openshift_hosted_registry_storage_nfs_directory=/hosted_engine
openshift_hosted_registry_storage_volume_name=registryvol
openshift_hosted_registry_storage_volume_size=10Gi
openshift_hosted_registry_replicas=1
openshift_registry_selector='role=infra'

# Install metrics | for NFS only one replicant supported
openshift_metrics_install_metrics=true
openshift_metrics_storage_kind=nfs
openshift_metrics_storage_access_modes=['ReadWriteOnce']
openshift_metrics_storage_nfs_directory=/hosted_engine
openshift_metrics_storage_nfs_options='*(rw,root_squash)'
openshift_metrics_storage_volume_name=metrics
openshift_metrics_storage_volume_size=10Gi

openshift_metrics_hawkular_hostname="metrics.apps.jasonhorn.io"
#openshift_master_metrics_public_url="https://metrics.apps.jasonhorn.io/hawkular/metrics"
#openshift_metrics_cassandra_storage_type=nfs
#openshift_metrics_cassandra_pvc_prefix=cassandra
openshift_metrics_cassandra_pvc_size=10Gi
#openshift_metrics_cassandra_pv_selector={"storage": "metrics"}
openshift_metrics_cassandra_replicas="1"
openshift_metrics_hawkular_nodeselector={"role":"infra"}
openshift_metrics_cassandra_nodeselector={"role":"infra"}
openshift_metrics_heapster_nodeselector={"role":"infra"}

# ES OPS
openshift_logging_use_ops=false

# ElasticSearch with more than 1 node
#logging_elasticsearch_rollout_override=True

# Install logging but post install | for NFS only one replica supported"
openshift_logging_install_logging=True
openshift_logging_master_public_url="https://openshift.jasonhorn.io:8443"
openshift_logging_storage_kind=nfs
openshift_logging_storage_access_modes=['ReadWriteOnce']
openshift_logging_storage_nfs_directory=/hosted_engine
openshift_logging_storage_nfs_options='*(rw,root_squash)'
openshift_logging_storage_volume_name=logging
openshift_logging_storage_volume_size=10Gi

openshift_logging_es_pvc_storage_class_name=""
openshift_logging_es_cpu_limit="1"
openshift_logging_es_cpu_request="1"
openshift_logging_es_memory_limit="1Gi"
openshift_logging_es_memory_request="500Mi"
openshift_logging_es_pvc_dynamic="false"
openshift_logging_es_pvc_size=10Gi
#openshift_logging_es_pv_selector={"storage": "logging"}
openshift_logging_es_cluster_size=1
openshift_logging_fluentd_nodeselector={"logging":"true"}
openshift_logging_es_nodeselector={"role":"infra"}
openshift_logging_kibana_nodeselector={"role":"infra"}
openshift_logging_curator_nodeselector={"role":"infra"}

# prometheus
openshift_prometheus_storage_kind=nfs
openshift_prometheus_alertmanager_storage_kind=nfs
openshift_prometheus_alertbuffer_storage_kind=nfs
openshift_prometheus_storage_type=pvc
openshift_prometheus_alertmanager_storage_type=pvc
openshift_prometheus_alertmanager_pvc_name=alertmanager
openshift_prometheus_alertmanager_limits_memory="1Gi"
openshift_prometheus_alertbuffer_storage_type=pvc
openshift_prometheus_alertbuffer_pvc_size=10Gi
openshift_prometheus_pvc_access_modes=[ReadWriteOnce]
openshift_prometheus_oauth_proxy_cpu_requests="100m"
openshift_prometheus_node_selector={"role":"infra"}


[masters]
openshift-master1 openshift_hostname=openshift-master1 
openshift-master2 openshift_hostname=openshift-master2
openshift-master3 openshift_hostname=openshift-master3

[etcd]
openshift-master1
openshift-master2
openshift-master3

[new_nodes]
[new_masters]

[infra]
openshift-infra1
openshift-infra2

[nfs]
goliath.foo.bar

[lb]
openshift-lb  # One Day os_firewall_allow=[{"service": "haproxy stats","port": "9000/tcp"},{"service": "haproxy balance","port": "8443/tcp"},{"service": "http","port": "80/tcp"},{"service": "https","port": "443/tcp"}] 



[nodes]
openshift-master1 openshift_hostname=openshift-master1  openshift_node_labels="{'role':'master','zone':'default','logging':'true'}" openshift_schedulable=false
openshift-master2 openshift_hostname=openshift-master2  openshift_node_labels="{'role':'master','zone':'default','logging':'true'}" openshift_schedulable=false
openshift-master3 openshift_hostname=openshift-master3  openshift_node_labels="{'role':'master','zone':'default','logging':'true'}" openshift_schedulable=false
openshift-infra1 openshift_hostname=openshift-infra1    openshift_node_labels="{'role':'infra', 'zone':'default','logging':'true'}"
openshift-infra2 openshift_hostname=openshift-infra2    openshift_node_labels="{'role':'infra', 'zone':'default','logging':'true'}"

openshift-node01 openshift_hostname=openshift-node01 openshift_node_labels="{'role':'app','zone':'default','logging':'true'}"
openshift-node02 openshift_hostname=openshift-node02 openshift_node_labels="{'role':'app','zone':'default','logging':'true'}"
